# .gitignore

# Python & Django
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Conda environment
.env/
*.env
#*.yml

# Docker / Jenkins
django-Docker/jenkins_home/
*.log

# VS Code, OS stuff
.vscode/
.DS_Store
